<form action = "/cities/{{city._id}}/reviews/create" method = "post">

  <label for = "reviewer">Reviewed by: {{user.username}}</label>
  <br>
  <label for="">Choose one: </label>
  <label for="lived">Lived</label>
  <input type="radio" name="lived" id="" value="true">
  <label for="">Visited</label>
  <input type="radio" name="lived" id="" value="false">
<br>
  {{!-- example of a label w/o a "for" attribute. cannot click on the words --}}
  {{!-- no id on the textarea because the only purpose of the id is to connect the label to the input, for fancy clicking purposes  --}}
  <label for="rating">Rate your experience:</label>
  <input type="number" name="rating" id="">/10
  <br>
  <br>
  <label for = "food">Favorite places to eat</label>
  <textarea name="food" id="" cols="20" rows="3"></textarea>

  <br>
  <br>
  <label for = "sights">Any sights to see? </label>
  <textarea name="sights" id="" cols="20" rows="3"></textarea>
  <br>
  <br>
  <label for "nightlife">Favorite bars/clubs</label>
  <textarea name="nightlife" id="" cols="20" rows="3"></textarea>

  <br>
  <br>

  <label for "comments">Additional Comments</label>
  <textarea name="comments" id="" cols="20" rows="3"></textarea>
  
  <button type = "submit">Submit</button>


</form>