<form action = "/reviews/{{review.id}}/edit" method = "post">
     <label for = "reviewer">Reviewed by: {{user.username}}</label>
  <br>
 
  {{!-- example of a label w/o a "for" attribute. cannot click on the words --}}
  {{!-- no id on the textarea because the only purpose of the id is to connect the label to the input, for fancy clicking purposes  --}}
  <label for="rating">Rate your experience:</label>
  <input type="number" name="editedRating" id="">/10
  <br>
  <br>
  <label for = "food">Favorite places to eat</label>
  <textarea name="editedFood" id="" cols="20" rows="3"></textarea>

  <br>
  <br>
  <label for = "sights">Any sights to see? </label>
  <textarea name="editedSights" id="" cols="20" rows="3"></textarea>
  <br>
  <br>
  <label for "nightlife">Favorite bars/clubs</label>
  <textarea name="editedNightlife" id="" cols="20" rows="3"></textarea>

  <br>
  <br>

  <label for "comments">Additional Comments</label>
  <textarea name="comments" id="" cols="20" rows="3"></textarea>
  
  <button type = "submit">Submit</button>


  

</form>
