<h1>Edit your Profile</h1>

<form action="/edit/{{user._id}}" method="post" enctype="multipart/form-data">
    <label>Username:</label> {{user.username}}
    <br>
    <input type="file" name="photo">
    <br>

    <br>
    <label for="aboutMe">About Me</label>
    <input type="text" name="editedAboutMe" value="{{user.aboutMe}}">
    <button type="submit">Save changes</button>
</form>



{{!--
<a href="/cities">Save Profile</a> --}}