{{!-- LOGIN HOMEPAGE --}}
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-4">

    </div>
    <div class = "col-4">

   
<h2>Login</h2> 
<form action = "/login" method = "post">
<div id = "homepage">
  <label>Username:</label>
  <input type = "text" name = "username">
  <br>
  <br>

  <label>Password:</label>
  <input type = "password" name = "password">
  <br>
  <br>


  <button>Submit</button>

  <br>
  <br>
  <button><a href = "/signup">Sign Up</a></button>

</div>

</form>


{{#if message}}
  <div>{{message}}</div>
{{/if}}

 </div>
 <div class = "col-4"></div>
  </div>
</div>





