{{!-- LOGIN HOMEPAGE --}}
<img src = "https://desktopwalls.net/wp-content/uploads/2014/07/Rainy%20City%20Road%20Bokeh%20Lights%20Desktop%20Wallpaper.jpg" id = "bg" alt = "">
<div class = "container-fluid" id = "homepage">
  <div class = "row">
    <div class = "col-4"></div>
    <div class = "col-4">

   
<h1 class = "animated infinite bounce delay-2s	">Login</h1> 
<form action = "/login" method = "post">
  <div class="form-group">
    <label for="Username">Username</label>
    <input type="text" class="form-control" name = "username"  placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" name = "password" placeholder="Password">
  </div>
 


<button class="btn btn-primary" id = "homebutton">Submit</button>

  <br>
  <br>
<button type="button" class="btn btn-primary" id = "homebutton"><a class='link-btn' href = "/signup">Sign Up</a></button>


</div>

</form>


{{#if message}}
  <div>{{message}}</div>
{{/if}}

 </div>
 <div class = "col-4"></div>
  </div>
</div>





