<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    {{#if theUser}}
    <a href="/users/{{ theUser._id }}">My profile</a>
    {{/if}}
  </nav>
  <body>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
