<img src = "https://desktopwalls.net/wp-content/uploads/2014/07/Rainy%20City%20Road%20Bokeh%20Lights%20Desktop%20Wallpaper.jpg" id = "bg" alt = "">

<div class = "container-fluid" id = "homepage">
  <div class = "row">

<div class = "col-4"></div>
<div class = "col-4">
<h1 class = "animated infinite bounce delay-2s">Signup</h1>

<form action = "/signup" method = "post">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name = "theUsername" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name = "thePassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" id = "homebutton">Submit</button>
  </div>
</form>

<div class = "col-4" id = "error">
{{#if errorMessage}}
{{errorMessage}}
{{/if}}
</div>

</div>
</div>
