body {
  font-family: 'Raleway', sans-serif;

  padding-top: 75px;
}

#review {
  width: 40%;
}

.profpic {
  border-radius: 5%;
}

  #cities {
    border-radius: 10px
  }

  .btn {
    width: 100px;
    text-decoration: none;
  }
  .btn-primary a{
    text-decoration: none;
    color: white;
  }

  .link-btn {
    color: white;
  }

  .link-btn:hover {
    color: white;
    text-decoration: none;
  }

  #error {
    padding-top: 90px;
    font-size: 20px;
  }

// }

#bg {
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%; 
}

.alll {
  background-size: cover; }

#bd {
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.75;
  max-width: 100%;
  min-height: 100%;
  }



#homepage {
  color: white;
}

#homebutton {
  background-color: #4CAF50;
  border: white 2px;
  width: 200px;
  
}

.navbar #navbarTitle {
  font-size: 30px;
}

.navbarCities {
  margin-left: 500px;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: none !important ;
  color: black;
  
}




.listOfCities {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  list-style: none;
  border-radius: 10px;

}
.cityImages {
  width: 40vw;
  height: 40vh;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 35px;
  margin-top: 20px;

  
}

.cityNames {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.cityDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 4vh;
  margin-left: 50px;
  margin-top: 20px;
}

.detailsOfTheCity {
  width: 35vw;
}

.citiesTitle {
display: flex;
justify-content: center;
padding-bottom: 4vh;
padding-top: 3vh;
}

.navbar {
  background-color: #C0C0C0 !important
}

#navbarTitle {
  color: #999966;
}